

<h1 style="background-color: antiquewhite;">Web Page Works</h1>
<div class="container" [@imageAnimation]="isVisible ? 'visible' : 'hidden'">
  <img src="https://www.bing.com/th/id/OGC.e1ad95f56c4ff1534e2e2d68edd1c75a?pid=1.7&rurl=https%3a%2f%2fmedia.giphy.com%2fmedia%2f11bDXrIGZ6vni0%2fgiphy.gif&ehk=JyZxwLdfgB%2fm8%2fJWCH%2bUZb8U9t3XIEIY2KQkKgqJ0kM%3d" alt="Animated Image" width="1300px" height="550px"/>
</div><br><br>

<div class="container" [@imageAnimation]="isVisible ? 'visible' : 'hidden'">
  <img src="https://www.bing.com/th/id/OGC.e621bd4d2a4d414f63134a2edfd8ea6c?pid=1.7&rurl=https%3a%2f%2fmedia.giphy.com%2fmedia%2f12BthLsDQI7kEU%2fgiphy.gif&ehk=dsqjCGUDqoxgBIYjyZ5C5zeaCCMtRaGFpVWgQg6dnas%3d" alt="Animated Image " />
</div><br><br>

 <!-- <div class="container" [@imageAnimation]="isVisible ? 'visible' : 'hidden'">
  <img src="https://th.bing.com/th/id/OIF.ZDpQgA7lF6MoGG8moM2duQ?w=166&h=180&c=7&r=0&o=5&dpr=1.5&pid=1.7" alt="Animated Image " />
</div><br><br> -->







<br><br>

<!-- <button (click)="toggleVisibility()">Toggle Visibility</button>  -->







